<!DOCTYPE html>
<html>
    <head>
        <title>shabid</title>
    </head>
    <body>
        <dir style="height: 100vh; display: flex; align-items: center; justify-content: center; flex-direction: column; text-align: center;" >
            <h1 style="color: aquamarine; font-style:italic;">
                Calculator
            </h1><br>
            <form method="POST">
                <input style="color: red;" type="text" name="v1" placeholder="Enter Number"><br><br>
                <!-- <input style="color:greenyellow" type="text" name="v2" placeholder="Enter Number"><br> -->
                <button type="submit" >Calculate</button><br>
            </form>
        </dir>
    </body>
</html>
